@import "../../vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

@font-face {
    font-family: 'nexa_boldregular';
    src: url('fonts/nexa_bold-webfont.eot');
    src: url('fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa_bold-webfont.woff') format('woff'),
         url('fonts/nexa_bold-webfont.ttf') format('truetype'),
         url('fonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.btn {border-radius: 0; box-shadow: none; text-transform: uppercase; transition: none; -webkit-transition: none; border: none;}
.btn:hover, .btn:focus, .btn:active {box-shadow: none; border: none; outline: none;}

.wlink {background: #fff; border-bottom: 1px #2670a1 solid; color: #2c3e50; text-align: center; height: 52px; line-height: 52px;}
.wlink:hover {text-decoration: none; color: #2c3e50;}

.header {background: #ecf0f1; border-bottom: 1px #2670a1 solid;}

.nav li a {text-transform: uppercase;}
.navbar-brand {line-height: 50px;}

.subheader {border-bottom: 1px #2670a1 solid;}
.subheader .navbar {background: #fff;}

.features_wrapper {background-color: #ecf0f1;}
.features {border-bottom: 1px #bcbcbc solid; background: #fff; margin: 30px 0;}
.features .col-md-3 {text-transform: uppercase; text-align: center; height: 55px; line-height: 55px; border-top: 1px #bcbcbc solid;}
.features .col-md-3:first-child {border-top: none;}

.boxes {border-bottom: 1px #bcbcbc solid; background: #ecf0f1;}
.boxes .col-md-5:first-child .box {margin-top: 30px;}
.boxes .box {margin-bottom: 30px; position: relative; overflow: hidden; max-height: 320px;}
.boxes .box h5 {height: 50px; line-height: 50px; background: rgba(255, 255, 255, 0.5); text-transform: uppercase; padding-left: 15px; position: absolute; top: 0; left: 0; width: 100%; margin: 0;}
.boxes .box .container-fluid {position: absolute; bottom: 20px; left: 0; width: 100%;}
.boxes .box .wlink {font-size: 16px;}

.boxes-cat .box {margin-bottom: 3px;}
.boxes-cat .btn {font-size: 30px; height: 70px; margin-bottom: 17px;}
.boxes-cat .preview {position: absolute; bottom: 10px; left: 10px; cursor: pointer;}
.boxes-cat .price {height: 60px; line-height: 60px; font-size: 30px; position: absolute; bottom: 0; right: 0; background: rgba(255, 255, 255, 0.5); width: 155px;}

.invite {padding: 65px 0; text-align: center;}
.invite .col-md-8 {text-transform: uppercase;}
.invite hr {margin: 5px; border-style: dashed;}
.invite-1 {font-size: 41px;}
.invite-2 {font-size: 58px;}
.invite-3 {font-size: 15px;}
.invite-4 {font-size: 25px; margin-top: 20px; margin-bottom: 10px;}

.quotes {border-bottom: 1px #bcbcbc solid; border-top: 1px #bcbcbc solid; background: #ecf0f1;}
.quotes .col-md-5 {border-top: 1px #bcbcbc solid; padding-top: 15px; padding-bottom: 15px;}
.quotes .col-md-5:first-child {border-top: none;}
.quotes .quote {font-size: 18px;}
.quotes .quote img {margin-right: 15px;}
.quotes .quote div {font-size: 14px; padding-top: 5px;}

.packages {border-bottom: 1px #bcbcbc solid;}
.packages .col-md-5 {border-right: 1px #bcbcbc solid;}
.packages .col-md-5:first-child {border-left: 1px #bcbcbc solid;}
.packages .package h3 {text-transform: uppercase;}
.packages .package h3 a {color: #2c3e50;}
.packages .package h3 a:hover {text-decoration: none;}
.packages .package ul {list-style: none; padding-left: 0;}

.products h1 {text-transform: uppercase; color: #fff; margin: 40px 0 80px;}
.products h3 {text-transform: uppercase; border-bottom: 1px #2c3e50 solid; margin: 0; padding-bottom: 5px; position: relative;}
.products h3 span {font-size: 24px; position: absolute; top: -5px; right: 0;}
.products table {background: #ecf0f1;}
.products table > thead > tr > th {text-transform: uppercase; font-weight: normal; padding-left: 20px;}
.products table > tbody > tr > td {vertical-align: middle;}
.products table > tbody:nth-child(3) > tr > td {border: none;}
.products table > tbody:nth-child(3) > tr > td:nth-child(1),
.products table > tbody:nth-child(4) > tr > td:nth-child(1) {padding-left: 20px}
.products table > tbody:nth-child(3) > tr > td:nth-child(2),
.products table > tbody:nth-child(2) > tr > td:nth-child(3) {text-align: right;}
.products form {padding: 10px;}
.products form input {border-radius: 0;}
.products form button {border: 1px #ccc solid !important; padding: 0 6px; height: 34px;}
.products .col-md-7 .row {margin-bottom: 40px;}
.products .catnav {background: #ecf0f1;}
.products .catnav ul {padding-left: 0;}
.products .catnav ul li { list-style: none;}
.products .catnav ul li a {display: block; height: 40px; line-height: 40px; text-transform: uppercase; padding: 0 15px; border-bottom: 1px #ddd solid;}
.products .catnav ul li li a {padding: 0 15px 0 30px;}
.products .catnav > ul > li > a {background: #3498db; color: #fff;}
.products .catnav > ul > li li > a {background: #ecf0f1; color: #2c3e50;}

.footer {background: #ecf0f1; line-height: 43px;}

@media (min-width: 768px) {
  .boxes .col-md-5 .box {margin-top: 30px;}
  
  .quotes .col-md-5 {border-right: 1px #bcbcbc solid; border-top: none; border-bottom: none;}
  .quotes .col-md-5:first-child {border-left: 1px #bcbcbc solid;}
  
  .boxes-cat .box {margin-bottom: 15px;}
}

@media (min-width: 992px) {
  .nav li a {height: 66px; line-height: 66px; border-right: 1px #bcbcbc solid;}
  .nav li:first-child a {border-left: 1px #bcbcbc solid;}
  .navbar-brand {line-height: 66px;}
  
  .subheader .nav li a {line-height: 60px; height: 60px;}
  
  .features {margin: 337px 0 53px; position: relative;}
  .features .col-md-3 {border-left: 1px #bcbcbc solid; border-top: none;}
  .features .col-md-3:first-child {border-left: none;}
  .features .float {position: absolute; color: #fff; text-transform: uppercase;}
  .features .float.features-1 {font-size: 48px; top: -309px; left: 180px;}
  .features .float.features-2 {font-size: 24px; top: -250px; left: 62px;}
  .features .float.features-3 {font-size: 24px; top: -155px; left: 67px;}
  .features .float.features-4 {top: -163px; left: 315px;}
  .features .float.features-4 .wlink {font-size: 24px; padding: 0 30px; display: inline-block;}
  .features .float.features-5 {text-transform: none; top: -64px; left: 60px;}
  .features .float.features-5 a {font-size: 10.77px; color: #fff;}
  
  .boxes .box {margin: 0 0 70px;}
  .boxes .col-md-5 .box {margin-top: 0;}
  .boxes .col-md-5:first-child .box {margin-top: 0;}
  
  .boxes-cat .box {margin-bottom: 15px;}
  
  .invite-1 {font-size: 65.62px; letter-spacing: 5px;}
  .invite-2 {font-size: 93.08px; letter-spacing: 7px;}
  .invite-3 {font-size: 24px; margin-top: 40px;}
  .invite-4 {font-size: 30px;}
  
  .quotes .quote {padding: 50px 0;}
  
  .packages .package {padding: 10px 35px;}
  .packages .package ul {padding-left: 15px;}
  
  .footer .navbar {min-height: 43px;}
  .footer .nav li a {height: 43px; line-height: 43px; padding: 0 15px;}
  
  .products h1 {margin: 62px 0;}
  .products h3 {margin: 0;}
  .products table {margin-top: 111px;}
}