<div class="border white subnav">
  <div class="row">
    <div class="small-12 large-12 columns">
      <nav class="top-bar top-subbar white" data-topbar>
        <ul class="title-area">
          <li class="name">&nbsp;</li>
          <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="left ">
            <li class="divider">&nbsp;</li>
            <li>{{#link-to 'create-account'}}Account{{/link-to}}</li>
            <li class="divider">&nbsp;</li>
            <li>{{#link-to 'shipping'}}Shipping{{/link-to}}</li>
            <li class="divider">&nbsp;</li>
            <li>{{#link-to 'billing'}}Billing{{/link-to}}</li>
            <li class="divider">&nbsp;</li>
            <li><a href="#">Subscription</a></li>
            <li class="divider">&nbsp;</li>
            <li>{{#link-to 'tracking'}}Tracking{{/link-to}}</li>
            <li class="divider">&nbsp;</li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-8 large-8 small-centered large-centered columns">
    <div class="account">
      <ul class="steps">
        <li class="step-over"><a href="#"><i>&#10003;</i>Create Account</a></li>
        <li class="step-over"><a href="#"><i>&#10003;</i>Shipping</a></li>
        <li><a href="#"><i>3</i>Billing</a></li>
      </ul>
      
      <form>
        <h3>Card Information</h3>
        <input type="text" style="width: 582px" placeholder="Cardholders Name" />
        <input type="text" style="width: 398px" placeholder="Card Number" /> <img src="assets/img/ico-cards.png" /> <br/>
        <input type="text" style="width: 69px" placeholder="CCV" /> &nbsp;
        <a href="#" class="help">?</a> &nbsp;
        <input type="text" style="width: 146px" placeholder="Month" /> &nbsp; 
        <input type="text" style="width: 146px" placeholder="Year" /> &nbsp; 
        <input type="text" style="width: 146px" placeholder="Zip Code" />
        <!--<input type="submit" style="width: 281px" {{action 'shipping'}} value="Next" class="blue" />-->
        {{#link-to 'billing' class='blue'}}Submit Payment{{/link-to}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <label>&#x2611; Save this card for future use</label>
      </form>
    </div>
  </div>
</div>