<div class="row">
  <div class="small-8 large-8 small-centered large-centered columns">
    <div class="account">
      <ul class="steps">
        <li><a href=""><i>1</i>Create Account</a></li>
        <li><a href=""><i>2</i>Shipping</a></li>
        <li><a href=""><i>3</i>Billing</a></li>
      </ul>
      
      <form>
        <h3>Create Account</h3>
        <input type="text" style="width: 297px" placeholder="Username" /> &nbsp;&nbsp;&nbsp;&nbsp; <input type="email" style="width: 297px" placeholder="Email" />
        <input type="password" style="width: 297px" placeholder="Password" /> &nbsp;&nbsp;&nbsp;&nbsp; <input type="password" style="width: 297px" placeholder="Retype Password" />
        <!--<input type="submit" style="width: 281px" {{action 'shipping'}} value="Next" class="blue" />-->
        {{#link-to 'shipping' class='blue'}}Next{{/link-to}}
      </form>
    </div>
  </div>
</div>