<div class="border banner" style="background: url('assets/img/placeholder/banner1.jpg') no-repeat top right;">
  <div class="row">
    <div class="small-12 large-12 columns">
      <div class="relative" style="height: 367px;">
        <ul class="small-block-grid-1 medium-block-grid-5 large-block-grid-5 radius border white">
          <li><span>Overnight Delivery</span></li>
          <li><span>Custom Schedule</span></li>
          <li><span>Realtime Tracking</span></li>
          <li><span>Live Support</span></li>
          <li><span>Easy To Cancel</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="border boxes featured">
  <div class="row">
    <div class="small-12 large-4 columns">
      <div class="boxes-inner">
        <img class="radius" src="assets/img/placeholder/feature1.jpg" />
        <a class="box-title upper" href="#">Satisfied Customer #713</a>
      </div>
    </div>
    <div class="small-12 large-4 columns">
      <div class="boxes-inner">
        <img class="radius" src="assets/img/placeholder/feature2.jpg" />
        <a class="box-title upper" href="#">Give a FRESHBOX</a>
      </div>
    </div>
    <div class="small-12 large-4 columns">
      <div class="boxes-inner">
        <img class="radius" src="assets/img/placeholder/feature3.jpg" />
        <a class="box-title upper" href="#">Business Delivery Schedule</a>
      </div>
    </div>
  </div>
</div>

<div class="border white invite">
  <div class="row">
    <div class="small-12 large-12 columns">
      <div class="row collapse radius center blue border">
        <div class="small-12 large-6 columns">
          <span class="free-boxes upper">Free Boxes<span class="separator"></span></span>
          <span class="for-life upper">For Life</span>
        </div>
        <div class="small-12 large-6 columns">
          <span class="earn-money">Earn $5 for every friend you invite. <br/>1,000 friends is 80 years of boxes.</span>
          <a class="white" href="#">Invite your friends!</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="border border-boxes quotes">
  <div class="row">
    <div class="small-12 large-12 columns">
      <div class="row collapse">
        <div class="small-12 large-4 columns border-boxes-outer">
          <div class="border-boxes-inner">
            <p>Maybe it's a little silly, but @FreshBox is my new FAVORITE SAAS service that I pay for Socks as a Service, amirite?</p>
            <div>
              <img class="left border" src="assets/img/placeholder/avatar.jpg" />
              <span class="left">Mike Carol<br/>@MikeyMike</span>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
        <div class="small-12 large-4 columns border-boxes-outer">
          <div class="border-boxes-inner">
            <p>Maybe it's a little silly, but @FreshBox is my new FAVORITE SAAS service that I pay for Socks as a Service, amirite?</p>
            <div>
              <img class="left border" src="assets/img/placeholder/avatar.jpg" />
              <span class="left">Mike Carol<br/>@MikeyMike</span>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
        <div class="small-12 large-4 columns border-boxes-outer">
          <div class="border-boxes-inner">
            <p>Maybe it's a little silly, but @FreshBox is my new FAVORITE SAAS service that I pay for Socks as a Service, amirite?</p>
            <div>
              <img class="left border" src="assets/img/placeholder/avatar.jpg" />
              <span class="left">Mike Carol<br/>@MikeyMike</span>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
