<div class="border white subnav">
  <div class="row">
    <div class="small-12 large-12 columns">
      <nav class="top-bar top-subbar white" data-topbar>
        <ul class="title-area">
          <li class="name">&nbsp;</li>
          <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="left ">
            <li class="divider">&nbsp;</li>
            <li>{{#link-to 'create-account'}}Account{{/link-to}}</li>
            <li class="divider">&nbsp;</li>
            <li>{{#link-to 'shipping'}}Shipping{{/link-to}}</li>
            <li class="divider">&nbsp;</li>
            <li>{{#link-to 'billing'}}Billing{{/link-to}}</li>
            <li class="divider">&nbsp;</li>
            <li><a href="#">Subscription</a></li>
            <li class="divider">&nbsp;</li>
            <li>{{#link-to 'tracking'}}Tracking{{/link-to}}</li>
            <li class="divider">&nbsp;</li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
</div>

<div class="border boxes subcribed-box">
  <div class="row">
    <div class="small-12 large-12 columns">
      <span class="box-selection center">SELECT YOUR BOX</span>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-12 columns">
      <ul class="small-block-grid-1 large-block-grid-3 boxes">
        <li>
          <div class="boxes-inner">
            <img class="radius" src="assets/img/placeholder/sub1.jpg" />
            <a class="box-title upper" href="#">The Novice</a>
            <a class="box-search" href="#"></a>
            <span class="box-price upper"><span>$</span>15/Mo</span>
            <a class="box-link blue upper" href="#">Box it! &nbsp; <img src="assets/img/ico-boxit.png" /></a>
          </div>
        </li>
        <li>
          <div class="boxes-inner">
            <img class="radius" src="assets/img/placeholder/sub2.jpg" />
            <a class="box-title upper" href="#">The Jorneyman</a>
            <a class="box-search" href="#"></a>
            <span class="box-price upper"><span>$</span>20/Mo</span>
            <a class="box-link blue upper" href="#">Subscribed</a>
          </div>
        </li>
        <li>
          <div class="boxes-inner">
            <img class="radius" src="assets/img/placeholder/sub3.jpg" />
            <a class="box-title upper" href="#">The Master</a>
            <a class="box-search" href="#"></a>
            <span class="box-price upper"><span>$</span>25/Mo</span>
            <a class="box-link blue upper" href="#">Box it! &nbsp; <img src="assets/img/ico-boxit.png" /></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="border border-boxes white subcribed-details">
  <div class="row">
    <div class="small-12 large-12 columns">
      <div class="row collapse">
        <div class="small-12 large-4 columns border-boxes-outer">
          <div class="border-boxes-inner">
            <span class="upper">1 Pair of boxers</span>
            <ul>
              <li>95% Organic Cotton / 5%</li>
              <li>Polyester</li>
              <li>High quality, fits true to size.</li>
              <li>Machine Washable.</li>
            </ul>
            
            <span class="upper">1 Pair of boxers</span>
            <ul>
              <li>95% Organic Cotton / 5%</li>
              <li>Polyester</li>
              <li>High quality, fits true to size.</li>
              <li>Machine Washable.</li>
            </ul>
            
            <span class="upper">1 Pair of boxers</span>
            <ul>
              <li>95% Organic Cotton / 5%</li>
              <li>Polyester</li>
              <li>High quality, fits true to size.</li>
              <li>Machine Washable.</li>
            </ul>
            
            <a class="upper" href="#">Box Details</a>
          </div>
        </div>
        <div class="small-12 large-4 columns border-boxes-outer">
          <div class="border-boxes-inner">
            <span class="subcribed-title upper">1 Pair of boxers</span>
            <ul class="subcribed-detail">
              <li>95% Organic Cotton / 5%</li>
              <li>Polyester</li>
              <li>High quality, fits true to size.</li>
              <li>Machine Washable.</li>
            </ul>
            
            <span class="subcribed-title upper">1 Pair of Socks</span>
            <ul class="subcribed-detail">
              <li>95% Organic Cotton / 5%</li>
              <li>Polyester</li>
              <li>High quality, fits true to size.</li>
              <li>Machine Washable.</li>
            </ul>
            
            <span class="subcribed-title upper">1 Undershirt</span>
            <ul class="subcribed-detail">
              <li>95% Organic Cotton / 5%</li>
              <li>Polyester</li>
              <li>High quality, fits true to size.</li>
              <li>Machine Washable.</li>
            </ul>
            
            <a class="upper" href="#">Box Details</a>
          </div>
        </div>
        <div class="small-12 large-4 columns border-boxes-outer">
          <div class="border-boxes-inner">
            <span class="subcribed-title upper">1 Pair of boxers</span>
            <ul class="subcribed-detail">
              <li>95% Organic Cotton / 5%</li>
              <li>Polyester</li>
              <li>High quality, fits true to size.</li>
              <li>Machine Washable.</li>
            </ul>
            
            <span class="subcribed-title upper">1 Pair of Socks</span>
            <ul class="subcribed-detail">
              <li>95% Organic Cotton / 5%</li>
              <li>Polyester</li>
              <li>High quality, fits true to size.</li>
              <li>Machine Washable.</li>
            </ul>
            
            <span class="subcribed-title upper">1 Undershirt</span>
            <ul class="subcribed-detail">
              <li>95% Organic Cotton / 5%</li>
              <li>Polyester</li>
              <li>High quality, fits true to size.</li>
              <li>Machine Washable.</li>
            </ul>
            
            <a class="upper" href="#">Box Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
