<div class="border white subnav">
  <div class="row">
    <div class="small-12 large-12 columns">
      <nav class="top-bar top-subbar white" data-topbar>
        <ul class="title-area">
          <li class="name">&nbsp;</li>
          <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="left ">
            <li class="divider">&nbsp;</li>
            <li>{{#link-to 'create-account'}}Account{{/link-to}}</li>
            <li class="divider">&nbsp;</li>
            <li>{{#link-to 'shipping'}}Shipping{{/link-to}}</li>
            <li class="divider">&nbsp;</li>
            <li>{{#link-to 'billing'}}Billing{{/link-to}}</li>
            <li class="divider">&nbsp;</li>
            <li><a href="#">Subscription</a></li>
            <li class="divider">&nbsp;</li>
            <li>{{#link-to 'tracking'}}Tracking{{/link-to}}</li>
            <li class="divider">&nbsp;</li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
</div>

<br/><br/><br/><br/>
<div class="row">
  <div class="small-12 large-6 columns upper">
    <h4>Shipping Information</h4>
    <p class="textgrey">Miles davis<br/>4602 45th ave ne<br/>Los Angeles, CA 90012</p>
    <p class="textblue">UPS Ground</p>
    <p>Tracking number<br/><span class="textblue">1Z612F8A0366448028</span></p>
    <p class="textgreen">Shipped</p>
    <p><button class="upper" data-ember-action="2">View on ups.com</button></p>
  </div>
  <div class="small-12 large-6 columns">
    <img src="assets/img/placeholder/map.png" />
  </div>
</div>
<br/><br/><br/><br/><br/>